.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container__div {
    width: 400px;
    height: 200px;
    background-color: red;
}

.crate-div-button {
    background-color: blue;
    color: white;
    font-size: large;
    cursor: pointer;
}
