$white_theme: #fff;
$dark_theme: black;
$light-grey: #999999;
$blue: #3369F3;
$button_color: $blue;
$border_color: $blue;


body {
    margin: 0;
    padding: 0;
    background-color: $white_theme;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.submit__button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 300ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: $button_color;
    height: 40px;
    width: 100%;
    display: block;
}

.submit__button:hover {
    transform:  scale(1.1);
}
