.input {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__label {
    color: $light-grey;
  }
  &__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $border_color;
    outline: 0;
    background: transparent;
    font-size: 20px;
  }
  &__error {
    font-size: 14px;
    color: $red;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}
