---
userChat: true,
stylesheets: [
../styles/chat_feed.scss,
../styles/button.scss,
../styles/message_input.scss,
../styles/search_input.scss,
../index.scss,
]
---

{{!< layout}}

<div class="chat-container">
    <div class="chat-feed">
        <div class="chat-feed__header">
            <a class="chat-feed__back-button" href="./profile.hbs">Профиль</a>
            <div class="search-input">
                <input class="search-input__field">
                <span class="search-input__placeholder">Поиск</span>
            </div>
        </div>
        <div class="chat-feed__chat-item">
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="" class="chat-feed__avatar">
            <div class="chat-feed__text-information">
                <span class="chat-feed__name">Никита</span>
                <p class="chat-feed__last-message">
                    <span class="chat-feed__name">Вы:</span>
                    <span class="chat-feed__user-message">го в кс?</span>
                </p>
            </div>
            <div class="chat-feed__number-information">
                <span class="chat-feed__time">12:00</span>
                <span class="chat-feed__count">4</span>
            </div>
        </div>

    </div>
    <div class="chat-detail">
        {{#if userChat}}
            <div class="chat-detail__header">
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="" class="chat-detail__avatar">
                <span class="chat-detail__user-name">Никита</span>
                <span class="icon chat-detail__points-icon"></span>
            </div>
            <div class="chat-detail__chat-field">
                <p class="chat-detail__from-their">
                    Привет, что нового ?
                </p>
                <p class="chat-detail__from-me">
                    Да ничего особо. А у тебя?
                </p>
                <p class="chat-detail__from-me">
                    Пойдешь гулять сегодня ?
                </p>
                <p class="chat-detail__from-their">
                    Да,если успею дз сделать
                </p>
                <p class="chat-detail__from-their">
                    Короче созвонимся
                </p>
                <p class="chat-detail__from-me">
                    ОК. пиши тогда
                </p>
                <p class="chat-detail__from-me">
                    ОК. пиши тогда
                </p>
                <p class="chat-detail__from-me">
                    ОК. пиши тогда
                </p>
            </div>
            <div class="chat-detail__message-bar">
                <span class="icon chat-detail__clip-icon"></span>
                <div class="message-input">
                    <input class="message-input__field">
                    <span class="message-input__placeholder">Сообщение</span>
                </div>
                <span class="icon chat-detail__around-arrow-icon"></span>
            </div>
            {{else}}
            <span class="chat-detail__warning-message">Выберите чат чтобы отправить сообщение</span>
        {{/if}}
    </div>
</div>
