@import "src/index";

.warning-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__subtitle {
    margin: 0 0 70px 0;
    font-weight: 500;
    font-size: 20px;
  }
  &__link {
    color: $blue;
    transition: transform 300ms;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    outline: none;
    text-decoration: none;
  }
  &__link:hover {
    transform: scale(1.1);
  }
}
