$red: #FF0000;
$white_theme: #fff;
$dark_theme: black;
$light-grey: #999999;
$border-grey: #EAEAEA;
$bubble-grey: #F8F8F8;
$blue: #3369F3;
$button_color: $blue;
$border_color: $blue;
$bubble-blue: #E4EDFD;
$bold_font: #1E1E1E;
$exit_link: $red;

@import "../src/styles/button";
@import "../src/styles/chat_feed";
@import "../src/styles/first_page";
@import "../src/styles/input";
@import "../src/styles/message_input";
@import "../src/styles/profile";
@import "../src/styles/search_input";
@import "../src/styles/warning_page";


* {
    font-family: "Inter", "sans-serif";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
    transition: 300ms;
}

.icon:hover {
    transform: scale(1.2);
}
