<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>My First Parcel App</title>
    {{#each stylesheets}}
        <link rel="stylesheet" href={{this}}>
    {{/each}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
<div class="root" id="root">
    {{{body}}}
</div>
</body>
</html>
